:root {
}

.Barra {
    flex-grow: 1;
    background-size: 300% 30%;
    background-color: rgb(34, 0, 0);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    position: absolute;
    height: 58px;
    width: 711px;
    margin-top: 30px;
    margin-left: 21px;
    top: 6px;
    left: 12px;
}

.vida {
    flex-grow: 1;
    background-color: rgba(255, 0, 0, 0.95);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    position: absolute;
    height: 22px;
    top: 2px;
    width: 497px;
    left: 2px;
    right: 5px;
    bottom: 4px;
    justify-content: center;
    align-self: flex-start;
    margin-top: 1px;
    margin-left: 4px;
    background-size: 30% 39%;
    background-position-y: top 0;
    -unity-background-scale-mode: stretch-to-fill;
    align-items: auto;
    align-content: auto;
}


