:root {
}

.Boton {
    height: 160px;
    width: 600px;
    top: auto;
    align-self: flex-start;
    align-items: flex-end;
    right: auto;
    margin-top: 642px;
    left: 0;
    bottom: 0;
    margin-left: 187px;
    font-size: 107px;
    -unity-font-style: bold;
    -unity-font-definition: url("project://database/Packages/com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Fonts/PerfectDOSVGA437.ttf?fileID=12800000&guid=74a5091d8707f334b9a5c31ef71a64ba&type=3#PerfectDOSVGA437");
    color: rgb(66, 215, 125);
    background-color: rgba(24, 23, 26, 0.67);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-top-width: 8px;
    border-right-width: 8px;
    border-bottom-width: 8px;
    border-left-width: 8px;
    text-shadow: 0 0 0 rgb(243, 243, 243);
    -unity-text-outline-color: rgb(0, 0, 0);
    -unity-text-outline-width: 6px;
}

.Boton:hover {
    scale: 1.1 1.1;
    background-color: rgba(7, 224, 16, 0.58);
}
